@charset "utf-8";
/* CSS Document */

body {
	background-color:cornsilk;
	background-image:url("images/eagle45.png");
	background-repeat:no-repeat;
	background-position:top;
	border: 10px groove darkkhaki;
		
}
h1 {
font-size:300%;
font-family:artifika;

}
h2 {
	color:darkkhaki;
}

